nav {
    background: #111111;
    color: #eeeeee;
    padding: 1%;
    white-space: nowrap;
}

nav * {
    display: inline;
    margin-left: 1%;
    padding: .5%;
}

nav button {
    background: green;
    border: 3px green solid;
    color: #eeeeee;
    float: right;
}

nav button:hover {
    background: #eeeeee;
    color: #111111;
}

nav button:active {
    transform: translateY(3px);
}

nav a {
    color: #eeeeee;
    font-family: "Courier New", Courier, monospace;
    text-decoration: none;
}

nav a:link {

}

nav a:visited {

}

nav a:hover {
    background: #eeeeee;
    color: #111111;
}

nav a:active {

}
