body {
	font-family: Georgia, serif;
    margin: 0px;
    padding: 0px;
}

button {
	
    font-family: "Courier New", Courier, monospace;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
}

input[type=button] {
    font-family: "Courier New", Courier, monospace;
}
