#whiteboard {
    border: 3px #111111 solid;
    /*height: 80%;
    width: 60%;*/
}

#whiteboard-features {
	float:left;
	padding: 1%;
	width: 6%;
}

.whiteboard-color {
	border: 1px #111111 solid;
	width: 100%;
	height: 20px;
}
