<html>

<head>
    <title>Classroom</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/whiteboard.css') }}">
	
	<script src="{{ url_for('static', filename='js/whiteboard.js') }}">
    </script>
</head>

<body onload="init()">
    <nav>
		<h1>Classroom</h1>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Help</a></li>
		</ul>
		<div>
			<button>Sign Up/Log In</button>
		</div>
	</nav>

    <canvas id="whiteboard" width="600" height="400"></canvas>
	<div id="whiteboard-features">
        <div class="whiteboard-color" style="background:green;" id="green" onclick="color(this)"></div>
        <div class="whiteboard-color" style="background:blue;" id="blue" onclick="color(this)"></div>
        <div class="whiteboard-color" style="background:red;" id="red" onclick="color(this)"></div>
        <div class="whiteboard-color" style="background:yellow;" id="yellow" onclick="color(this)"></div>
        <div class="whiteboard-color" style="background:orange;" id="orange" onclick="color(this)"></div>
        <div class="whiteboard-color" style="background:black;" id="black" onclick="color(this)"></div>
        <div class="whiteboard-color" style="background:white;" id="white" onclick="color(this)"></div>
        <input type="button" value="save" id="btn" size="30" onclick="save()" style="">
        <input type="button" value="clear" id="clr" size="23" onclick="erase()" style="">
	</div>
	<img id="canvasimg" style="" style="display:none;">
        
</body>

</html>
