<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
</head>
<body>
	<nav>
		<h1>Classroom</h1>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Help</a></li>
		</ul>
		<div>
			<button>Sign Up/Log In</button>
		</div>
	</nav>
	
	<div id="main">
		<div id="description">
			<h2>What is Classroom?</h2>
			<p>
				A web application to mimic some features of a classroom.
			</p>
			<h3>Features</h3>
			<ul>
				<li>Whiteboard</li>
				<li>Lessons</li>
				<li>Chatting</li>
				<li>File Sharing</li>
				<li>Classes</li>
			</ul>
		</div>
	
		<div class="">
	</div>
</body>
</html>
